@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
}
.container {
  position: relative;
  width: 40%;
  min-width: 375px;
  margin: 20px auto;
  background: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  width: 100%;
  padding: 15px;
}
.header__title > h1 {
  font-weight: 200;
  color: #4f4f4f;
  font-size: 24px;
  line-height: 28px;
}
.btn {
  background: #2f80ed;
  border-radius: 6px;
  border-style: none;
  outline: none;
  color: #f2f2f2;
}
.btn__text {
  margin: auto 0;
  padding: 5.25px 30px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

/* Styles for body ( Habit list) */
.body {
  width: 90%;
  height: auto;
  margin-bottom: 2rem;
}
.habit-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.habit-card {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  border-radius: 6px;
}
.habit-card-0 {
  display: none;
}
.habit-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.habit-card__header--title {
  width: 50%;
}
.habit-card__header--title > h1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  float: left;
  margin-left: 1rem;
}
.habit-card__header--quantity {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.card-quantity {
  width: 30%;
  padding: 5px;
}
.card-quantity__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.win {
  color: #27ae60;
}
.fail {
  color: #eb5757;
}
.left {
  color: #9b51e0;
}
.card-quantity__subtitle {
  font-weight: 100;
  font-size: 7px;
  line-height: 8px;
}
hr {
  width: 90%;
  border-style: none;
  border-top: 2px solid white;
}

/* Progress Bar */
.habit-card__progressbar {
  position: relative;
  height: 100%;
  display: none;
  transition: all 0.3s linear;
}
.habit-card:hover > .habit-card__progressbar {
  display: block;
}
.progress-circle {
  transform-origin: center;
  transform: rotate(270deg);
  transition: stroke-dashoffset 0.3s;
}

/* Form Popup window */

.popupWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 50%);
  display: none;
  justify-content: center;
}
.popup-container {
  width: 90%;
  position: relative;
}
.inner-popup-container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: 5em;
}
.popupWindow__title {
  font-size: 18px;
  line-height: 22px;
}
input {
  width: 70%;
  height: 52px;
  outline: none;
  border: 1px solid #bdbdbd;
  margin-top: 3rem;
  padding-left: 2rem;
  border-radius: 6px;
}
.btn-form {
  width: 80%;
  height: 52px;
  margin-top: 3rem;
}
.btn-form:hover {
  background: #27ae60;
}
.btn__text {
  color: #fbfbfb;
  font-size: 24px;
  line-height: 28px;
}
.exit_img {
  width: 20px;
}
.exit-btn {
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
}
.exit-btn:active {
  top: 1.7rem;
  right: 1.6rem;
}

form input::placeholder {
  margin-left: 2rem;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 21px;
}

/* btn progressbar in circle*/
.btn-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
}
.btn-circle:active {
  top: 52%;
  left: 48%;
}
.progress-circle {
  transform-origin: center;
  transform: rotate(270deg);
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s;
}
.circle-top {
  z-index: 999;
}
.circle-buttom {
  z-index: 10;
}
